.header_mobile_btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown_btn-1{
    width: 44.6%;
    height: 48px;
    background-color: var(--gray1000);
    color: var(--brand100);
    border: solid 1px var(--brand100);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-6);
    cursor: pointer;  
}

.dropdown_btn-2{
    width: 44.6%;
    height: 48px;
    background-color: var(--brand100);
    color: var(--gray1000);
    border: none;
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-6);
    cursor: pointer;
}

.main_btn{
    width: 100%;
    height: 48px;
    background-color: var(--gray1000);
    color: var(--brand100);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    border: 1px solid var(--brand100);
    cursor: pointer;
}

.form_login_btn{
    width: 100%;
    height: 48px;
    background-color: var(--brand100);
    color: var(--gray1000);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    border: none;
    cursor: pointer;
}

.section-1_user_btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_close_btn{
    position: absolute;
    left: 465px;
    top: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.modal_edit_confirm_button{
    min-width: 100%;
}

.modal_close-btn{
    width: 38px;
    height: 32px;
    padding: 4px 14px;
    color: var(--gray400);
    border: none;
    cursor: pointer;
}