.input_login{   
    text-indent: 20px;
    width: 100%;
    height: 52px;
    background-color: var(--gray1000);
    border: 1px solid rgba(0, 0, 0, 0.2);;
}

.input_login::placeholder{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    color: rgba(0, 0, 0, 0.5);
}

.form_select{
    text-indent: 20px;
    width: 100%;
    height: 52px;
    background-color: var(--gray1000);
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    color: rgba(0, 0, 0, 0.5);
}

.select_full{
    width: 100%;
    border: none;
    height: 52px;
    text-align: center;
    background-color: var(--brand100);
    color: var(--gray1000);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    cursor: pointer;
}

.input_modal_textArea{
    padding: 20px;
    width: 100%;
    background-color: var(--gray1000);
    border: 1px solid rgba(0, 0, 0, 0.2);;
}

.input_modal_textArea::placeholder{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    color: rgba(0, 0, 0, 0.5);
}

.options_modal_select{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    color: rgba(0, 0, 0, 0.5);
}

.modal_big_select{
    width: 422px;
    height: 52px;
    color:rgba(0, 0, 0, 0.5);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    text-indent: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}